<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .hub {
            display: block;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 75px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hub span:nth-child(2) {
            background: #FF9900;
            color: #000000;
            border-radius: 1vw;
            padding: 0 1vw 1vw 1vw;
            display: inline-block;
        }
    </style>
</head>
<body style="background-color: #201f25">
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="hub" style="margin-top: -114px">
                    <span contenteditable="true" style="color: #ffffff">I-Huney</span>
                    <span contenteditable="true">System</span>
                </div>
                <div class="panel panel-default" style="background-color: rgba(224, 255, 205, 0.65); margin-top: 270px">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock"></span> Login
                    </div>
                    <form th:action="@{/login}" th:object="${user}" method="post">
                        <div class="panel-body">
                            <div class="form-group">
                                <p class="col-md-4 control-label pull-left">Usename:</p>
                                <div class="col-sm-8">
                                    <input th:field="*{username}" type="text" class="form-control" placeholder="Tên đăng nhập"/>
                                </div>
                                <div class="col-sm-9 col-sm-offset-3">
                                    <p style="color:red"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="col-sm-4 control-label pull-left">Password:</p>
                                <div class="col-sm-8">
                                    <input th:field="*{password}" type="password" class="form-control" placeholder="Mật khẩu"/>
                                    <p style="color:red" th:if="${error}">Wrong user or password</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-9">

                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-4 col-sm-9">
                                    <button type="submit" class="btn btn-primary" tabindex="4">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer">
                        Copyright© 2018 Vi-Buff Team
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>

